[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/SFML/SFML.git
[submodule "imgui-sfml"]
	path = dependencies/imgui-sfml
	url = git@github.com:SFML/imgui-sfml.git
[submodule "imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "implot"]
	path = dependencies/implot
	url = git@github.com:epezent/implot.git
