[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/SFML/SFML.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/imgui-sfml"]
	path = dependencies/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
